<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css">
	<link rel="stylesheet" th:href="@{/index.css}">
</head>



<body>
    <div class="container">
        <div class="text">
            <h1>Product</h1>
            <div class="ctn-flip">
                <div id="flip">
                    <div>
                        <div>Thêm</div>
                    </div>
                    <div>
                        <div>Sửa</div>
                    </div>
                    <div>
                        <div>Xóa</div>
                    </div>
                </div>
                <div>Sản phẩm</div>
            </div>
            <p class="text-1">Tại đây bạn có thể quản lý sản phẩm của mình</p>
            <button class="btn"><a href="/products">View Products<i class="fas fa-long-arrow-right"></i></a></button>
        </div>
        <div class="img">
            <div class="spinner-box">
                <div class="blue-orbit leo"></div>
                <div class="green-orbit leo"></div>
                <div class="red-orbit leo"></div>
                <div class="white-orbit w1 leo"></div>
                <div class="white-orbit w2 leo"></div>
            </div>
        </div>
    </div>
</body>

</html>